doctype html
html
  head
    title send email
  body
  if !msg && msg!=''
  p #{msg}

  form(action='/send-email  ', method="get")
    input(type="text",name='toEmail',placeholder="Enter email address")
    input(type="submit", value="Send Mail")
    